proj/*/build/
logs/
temp/
.vs/
.vscode/
.idea/
.cache/
.venv/
*.vshistory/
*.xmake/
*.swp
*.exe
*.vti
*.npy
*.obj
*.ini
*.code-workspace
sed*
.clangd
.pdm-python
__pycache__
compile_commands.json
proj/*/compile_commands.json
proj/**/windows/
python/test_solver/output/
python/smoke/output/
python/function/output/
python/ibm/output/
python/test_rigid_couple/output/
proj/renderer_vulkan/config/render_vulkan
**/shaders/generated/*
!**/shaders/generated/.placeholder
build/
bin/
**/assets/**/*.tif
**/assets/**/*.png
**/assets/**/*.jpg
**/assets/**/*.jpeg
